.post {
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  &-body {
    margin-top: 5px;
  }
}
